/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #963499;
  --secondary-color: #2e2b36;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --font-color: rgb(224, 211, 233);
}

body {
  background: black;
  color: var(--font-color);
  font-family: var(--heading-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  color: white;
  font-size: 96px;
  font-weight: normal;
  line-height: 1.5;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: rgb(235, 196, 235);
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 42px;
}

.btn-branding {
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  padding: 15px 30px;
  background: var(--branding-color);
  border-radius: 25px;
  line-height: 27px;
}

.btn-branding :hover {
  color: black;
}

h2 {
  font-size: 64px;
  line-height: 1.5;
}

p {
  color: white;
  line-height: 30px;
  font-size: 16px;
  font-family: var(--default-font-family);
}

.btn-branding-outline {
  font-size: 18px;
  padding: 15px 30px;
  background: var(--branding-color);
  border-radius: 30px;
  line-height: 27px;
  border: 1px solid;
  width: 200px;
}
.project-description {
  padding: 100px 60px;
}

/*About*/
.container-section {
  padding: 160px 20px;
}

.container-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}

.container-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.container-section p {
  font-size: 16px;
}

.container-content {
  margin: 30px;
}

/*work*/

.container-section h3 {
  font-size: 25px;
  margin: 20px 0;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.container-section p {
  font-family: var(--default-font-family);
  font-size: 14px;
}

/*navbar*/

.logo {
  max-height: 80px;
}

.nav-item {
  padding: 0 10px;
}

.active {
  color: var(--branding-color) !important;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 130px;
  border-radius: 10px;
}

footer .email-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.dictionary{width: 400px;
height: 400px;
margin: 0 auto;}

.portfolio{width: 450px;
margin: 0 auto;}

.reactweather{margin: 0 auto;
text-align: center;}

.landingtwo{text-align: center;}

.weatherapp{text-align: center;}

.clock{text-align: center;}

.converter{text-align: center;}

.diploma{margin-top: 20px;
margin-left: 170px;}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  
}

